h1{
    text-align: center;
    color: aliceblue;
    /* padding-top: 1em; */
    font-size: 2em;
    
    
}

*{
    margin: 0;
    padding: 0 ;
    font-family:cursive;
    box-sizing: border-box;

}
body{
    width: 100%;
    background-color:#141425;
    height: 100vh;
    font-size: 15px;
    
    
    display: flex;
    flex-direction: column;
}
.header{
    width:100%;
    padding: 1em;
}
/* header  h1 {
    text-align: center;
    color: aliceblue;
   } */
.words{
    width:100%;
    flex-grow: 1;
    
    display: flex;
    align-items: center;
}
.words-container{
    width :100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.word{
    border:2px solid rgb(178, 147, 203);
    width: 3.5em;
    /* font-size: px; */
    height:3.5em;
    margin-right: 0.5em;
    margin-bottom: 0.4em;
    color: rgb(231, 239, 236);
    /* font-size: medium; */
    /* font-size: 1.5rem; */
    justify-content: center;
    /* align-items: center; */
    font-weight: 1000;

    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.word-row{
    display: flex;
    flex-direction: row;
}
.keyboard{
    width: 100%;
    
    padding-bottom: 3em;
}
.keyboard-container{
    width :100%;
    
    display:flex;
    flex-direction: column;
    align-items: center;
}
.keyboard button{
    background-color: #25102e;
    color: aliceblue;
    font-size:smaller;
    outline: none;
    border: 0px solid rgb(188, 171, 203);
    padding :1em;
    cursor: pointer;
    margin-bottom: 0.5em;
    /* width: 1em; */
}

#game-over-text{
    color:rgb(195, 209, 209);
    text-align: center;
    font-weight: 300;
    padding-bottom: 2em;
    padding: 1EM;
    
}
.word-green{
    background-color:rgb(30, 112, 61) !important;
    color: aliceblue;

}
.word-yellow{
    background-color:rgb(151, 147, 37) !important;
    color: aliceblue;
    

}
.word-grey{
    background-color: rgb(95, 92, 92) !important;
    color: aliceblue !important;
}